.title-p {
  text-align: center;
  background-color: rgb(43, 122, 226);
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.header-wraper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header {
  height: 50px;
}

.section1 {
  background-color: rgb(21, 91, 109);
  margin-top: 50px;
  padding: 20px 0;
}
.section1-wraper {
  border: 2px solid black;
  margin: 0 300px;
  padding: 20px;
  width: max-content;
  height: 500px;
}
.box1 {
  display: inline-block;
  position: relative;
  background-color: rgb(99, 142, 171);
  width: 150px;
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
  margin-right: 50px;
}
.box2 {
  position: absolute;
  top: 100px;
  left: 90px;
  background-color: blue;
  width: 150px;
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 120px;
  font-size: 50px;
  z-index: 2;
}

.box3 {
  display: inline-block;
  position: relative;
  background-color: rgb(99, 142, 171);
  width: 150px;
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
  margin-right: 50px;
}
.box4 {
  position: absolute;
  top: 100px;
  left: 90px;
  background-color: blue;
  width: 150px;
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 120px;
  font-size: 50px;
  z-index: 3;
}
.box5 {
  display: inline-block;
  position: relative;
  background-color: rgb(99, 142, 171);
  width: 150px;
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
  margin-right: 50px;
}
.box6 {
  position: absolute;
  top: 100px;
  left: 90px;
  background-color: blue;
  width: 150px;
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 120px;
  font-size: 50px;
  z-index: 4;
}
.box7 {
  display: inline-block;
  background-color: rgb(99, 142, 171);
  width: 150px;
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
  margin-right: 20px;
}
